<h1>Veillez confirmer votre adresse email</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
