{% extends 'base.html.twig' %}

{% block title %}Changez votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-4 m-auto bg-white p-5 rounded">
            <h5>Changez votre mot de passe</h5>
            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                </small>
            </div>

            <button class="btn btn-primary mt-3">Envoyer un mail</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
